.navbar {
    height: 80px;
    padding-left: 30px;
}

.logoutBtn {
    margin-right: 30px;
}

.nav-link{
    font-size: 20px;
    font-weight: 600;
    margin: 0px 20px;
}

#navbarSupportedContent {
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    height: 150px;
    margin-top: 100px;
    align-items: center;
    color: rgb(141, 141, 141);
}

.footerNav > ul {
    margin-bottom: 0;
}

.footerNav > ul > li {
    display: inline;
    margin: 0px 15px;
    font-size: 22px;
}

.NLink {
    text-decoration: none;
    color: white;
}
.NLink:hover {
    color: rgb(184, 184, 184);
}

.source {
    display: inline;
    color: rgb(200, 200, 200);
    font-size: 18px;
}

.sourceL > img {
    margin-right: 30px;
}

.social > a {
    margin-right: 30px;
}

.homeL {
    margin: 0px 15px;
}

p {
    margin-bottom: 0;
}